/*
=============== 
Variables
===============
*/

:root {
  /* dark shades of primary color*/
  --clr-primary-1: hsl(162, 61%, 89%);
  --clr-primary-2: hsl(162, 60%, 78%);
  --clr-primary-3: hsl(162, 61%, 67%);
  --clr-primary-4: hsl(162, 61%, 57%);
  /* primary/main color */
  --clr-primary-5: hsl(162, 73%, 46%);
  /* lighter shades of primary color */
  --clr-primary-6: #1aa179;
  --clr-primary-7: #13795b;
  --clr-primary-8: #0d503c;
  --clr-primary-9: #06281e;
  /* darkest grey - used for headings */
  --clr-grey-1: hsl(212, 33%, 89%);
  --clr-grey-2: hsl(210, 31%, 80%);
  --clr-grey-3: hsl(211, 27%, 70%);
  --clr-grey-4: hsl(209, 23%, 60%);
  /* grey used for paragraphs */
  --clr-grey-5: hsl(210, 22%, 49%);
  --clr-grey-6: hsl(209, 28%, 39%);
  --clr-grey-7: hsl(209, 34%, 30%);
  --clr-grey-8: hsl(211, 39%, 23%);
  --clr-grey-9: hsl(209, 61%, 16%);
  --clr-white: #fff;
  --clr-red-dark: hsl(360, 67%, 44%);
  --clr-red-light: hsl(360, 71%, 66%);
  --clr-green-dark: hsl(125, 67%, 44%);
  --clr-green-light: hsl(125, 71%, 66%);
  --clr-black: #222;
  --transition: all 0.3s linear;
  --spacing: 0.1rem;
  --radius: 0.25rem;
  --light-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
  --dark-shadow: 0 5px 15px rgba(0, 0, 0, 0.4);
  --max-width: 1170px;
  --fixed-width: 450px;
  --clr-pink: #f28ab2;
}
/*
=============== 
Global Styles
===============
*/

*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* From Codesandbox */

@import url("https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css");
@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css");
@import url("https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700");
/* ==========================================================================
   Responsive images and box padding
   ========================================================================== */

img,
object {
  display: block;
  border: 0;
  max-width: 100%;
  height: auto;
}

* {
  -moz-box-sizing: border-box;
  -webkit-kit-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  -webkit-font-smoothing: antialiased;
}

body {
  font-family: "Poppins", sans-serif;
  font-size: 1.3rem;
  background: #fefefe;
}

.container {
  width: 80%;
  margin: 60px auto;
}
h1 {
  font-size: 3em;
  font-weight: 600;
}

p.brand{
  width:20%;
height:20%;
border-radius:50px;
font-size:20px;
background-color:black;
color:white;
text-align:center;
margin:auto;
}

/* End from Codesandbox*/

/* 
body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
    Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  background: var(--clr-pink);
  color: var(--clr-grey-9);
  line-height: 1.5;
  font-size: 0.875rem;
} */

ul {
  list-style-type: none;
}
a {
  text-decoration: none;
}
h1,
h2,
h3,
h4 {
  letter-spacing: var(--spacing);
  text-transform: capitalize;
 /*  line-height: 1.25; */
 /*  margin-bottom: 0.75rem; */
}
h1 {
  font-size: 3rem;
}
h2 {
  font-size: 2rem;
}
h3 {
  font-size: 1.25rem;
}
h4 {
  font-size: 0.875rem;
}
p {
  /* margin-bottom: 1.25rem; */
  color: var(--clr-black);
}
@media screen and (min-width: 800px) {
  h1 {
    font-size: 4rem;
  }
  h2 {
    font-size: 2.5rem;
  }
  h3 {
    font-size: 1.75rem;
  }
  h4 {
    font-size: 1rem;
  }
  body {
    font-size: 1rem;
  }
  h1,
  h2,
  h3,
  h4 {
   /*  line-height: 1; */
  }
}
/*  global classes */

/* section */
.section {
  width: 90vw;
  margin: 0 auto;
  max-width: var(--max-width);
}

@media screen and (min-width: 992px) {
  .section {
    width: 95vw;
  }
}

main {
  width: auto;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
}

.container {
  width: 100vw;
  margin: 0.5rem auto;
  max-width: var(--fixed-width);
  background: var(--clr-white);
  border-radius: var(--radius);
  padding: 0rem 0rem; 
/*   padding: 1.5rem 2rem; */
  box-shadow: var(--dark-shadow);
}
.container h3 {
  font-weight: normal;
  text-transform: none;
 /*  margin-bottom: 2rem; */
}

.container button {
  color: var(--clr-white);
  display: block;
  width: 100%;
  border-color: transparent;
  background: var(--clr-pink);
  margin: 2rem auto 0 auto;
  text-transform: capitalize;
  font-size: 1.2rem;
  padding: 0.5rem 0;
  letter-spacing: var(--spacing);
  border-radius: var(--radius);
  outline: 1px solid rgba(242, 138, 178, 0.8);
  cursor: pointer;
}

/*Start of Style*/ 

.product {
  display: grid;
  grid-template-columns: auto 1fr;
  column-gap: 0.75rem;/* 
  margin-bottom: 1.5rem; */
  align-items: center;
  height: 200px;
  width: 100%;
/*   background-color: yellowgreen; */
}
.product img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  box-shadow: var(--light-shadow);
  align-items: center;
  display: flex;
  z-index: 10;

   /* display: flex; */
 }
.product h4 {
  /* margin-bottom: 0.5rem; */
  color: var(--clr-black);
}
.product p {
  margin-bottom: 0;
  font-size: 32 ;
  font-weight: bolder;
  color: var(--clr-black);
   display: flex;
  z-index: 9;
}

.icon{
  color: black;
  float: right;
  clear:left;
  font-size: 32px;
  /* position: relative; */
  position: relative; 
  display: flex;
  margin-right: 10px;
  z-index: 4;
}

.pack{
  color: black;
  float: right;
  /* position: relative; */
  position: relative; 
  display: flex;
  margin-right: 50%;
  margin-left: 10px;
  z-index: 2;
}

.containflex{
  display: flex;
  margin: 5px 20px;

}

.price{
  margin-left: 20px;
  margin-right: 20px;
  display: flex;
  flex-direction: row;
  justify-items: normal;
}



span{
  margin-top: 60px;
  position:absolute;
}

.size {
  width: 25px;
  height: 25px;
  object-fit: cover;
  border-radius: 50%;
  box-shadow: var(--light-shadow);
  font-size: 32;
  font-weight: bold;
 /*  flex: auto; */

}


#row{
width:50%;
margin-top:1px;
float:left;
border-radius:8px;
}

#one{
margin-left:25px;
/* margin-top:70px; */
float:left;
box-shadow:1px 1px 1px 1px black;
text-align: center;
}

#two{
margin-left:25px;
/* margin-top:70px; */
float:left;
box-shadow:1px 1px 1px 1px black;
text-align: center;
}

#three{
margin-left:25px;
/* margin-top:70px; */
float:left;
box-shadow:1px 1px 1px 1px black;
text-align: center;
}

/*End of Style*/ 